<div class="sticky-widescreen">
  <%# toc card %>
  <% if(is_post() && page.toc !== false) { %>
    <article class="card card-content toc-card">
      <%- partial('_partial/toc-card') %>
    </article>
  <% } %>
  <%# recent post %>
  <article class="card card-content">
    <%- partial('_partial/recent-post') %>
  </article>
  <%# archives card %>
  <% if(!is_post()) { %>
    <article class="card card-content">
      <%- partial('_partial/archives') %>
    </article>
  <% } %>
  <article class="card card-content">
    <h1 style="padding-bottom: 12px;">关注嘉然！顿顿解馋！</h1>
    <img src="https://api2.mubu.com/v3/document_image/2697c6ae-10ee-41a3-9099-304bdb252d31-3807603.jpg">
  </article>
</div>